node_red_flow.json
[
    {
        "id": "615a14b851627527",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9018b3b55592790b",
        "type": "mqtt in",
        "z": "615a14b851627527",
        "name": "MQTT In",
        "topic": "obj1/distance",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 380,
        "wires": [
            [
                "833a8de944fe1d7a"
            ]
        ]
    },
    {
        "id": "6923430c065264bf",
        "type": "ui_gauge",
        "z": "615a14b851627527",
        "name": "Distance",
        "group": "dashboard_group",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distance",
        "label": "cm",
        "format": "{{value}}",
        "min": "1",
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#d33131"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 880,
        "y": 380,
        "wires": []
    },
    {
        "id": "833a8de944fe1d7a",
        "type": "function",
        "z": "615a14b851627527",
        "name": "function 1",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 380,
        "wires": [
            [
                "6923430c065264bf"
            ]
        ]
    },
    {
        "id": "edd24dd0101fbe9b",
        "type": "mqtt in",
        "z": "615a14b851627527",
        "name": "MQTT In",
        "topic": "room1/light",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 520,
        "wires": [
            [
                "74dd656993c440c1"
            ]
        ]
    },
    {
        "id": "74dd656993c440c1",
        "type": "function",
        "z": "615a14b851627527",
        "name": "function 2",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 520,
        "wires": [
            [
                "3d3c5e1aa4b1219f"
            ]
        ]
    },
    {
        "id": "3d3c5e1aa4b1219f",
        "type": "ui_gauge",
        "z": "615a14b851627527",
        "name": "Light",
        "group": "dashboard_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light",
        "label": "Analog",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 520,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "192.168.192.184",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "name": "Room",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "IoT Dashboard",
        "icon": "dashboard",
        "order": 1
    }
]
